{% extends "azure.html" %}
{% block azure %}
    <br>

    <center>
        <h3>Servidores sem TAG "Billing".</h3><br>
        Sem TAG / Total <br>
        {{ COUNT }} / {{ TOTAL }} <br>
        {{ WHEM }}
    </center> <br>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>RGNAME</th>
            <th>VMNAME</th>
            <th>TAGS</th>
        </tr>
        </thead>
        {% for item in data %}
            <tr>
                <th>{{ item.rgname }}</th>
                <th>{{ item.vmname }}</th>
                {% for tag in tags %}
                    {{ tag }}
                {% endfor %}
                <th>{{ item.tags }}</th>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
